*{
    color:black ;
    font-family:'Times New Roman';
}
h1 {
    color:rgb(235, 141, 58);
    border: 2px solid green;
}
p{
    color:rgb(76, 60, 255);
}
button{
    color:rgb(117, 186, 241);
    background-color:aliceblue ;
}
 body{
    background-color:#ffff00;
 }
 /* #box{ 
    background-color: blue;
  } */

  .heading {
    color:red;
  }
  button{
    background-color: green;
  }
  p{
    text-align:center ;
  }
  h4{
    text-decoration: rgb(0, 110, 255) wavy underline;
    font-weight:bolder;
  }
  #one{
    font-family: 'Times New Roman', Times, serif;
  }
  /*#two{
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
    line-height: 32px;
    text-transform: uppercase ;
  }*/
  h3{
    text-align: center;
    text-transform: capitalize;
  }
  #outer{
    font-size: 25px;
  }
  #inner{
    font-size: 10px ;
  }
  div{
    height: 100px;
    width: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: aqua;
    text-align: center;
  }